/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
  .content {
    margin: -160px auto 0;
    padding: 30px 40px;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
  .content {
    margin: -40px auto 0;
    padding: 10px 20px;
  }
}


/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}

