.blog-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: hidden;
}

.blog-container {
  background: #f3f3f3;
  flex: 1 0 auto;
  padding: 30px 60px;
}

.navigation-link {
  color: #000000;
}

.blog-article {
  line-height: 20px;
}