.blog-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.blog-container {
  background: #f3f3f3;
  flex: 1 0 auto;
  padding: 30px 60px;
}

.navigation-link {
  color: #000000;
}

.blog-article {
  line-height: 24px;
}

.blog-title {
  font-size: 32px;
  padding: 20px 0;
}

.blog-code {
  background: #fff;
  padding: 10px;
  border-radius: 3px;
}