.content {
  max-width: 1064px;
  margin: -120px auto 0;
  padding: 0 80px;
  background: rgba(51, 59, 80, 1);
  text-align: left;
  color: #fff;
  &__title {
    text-align: center;
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 60px;
  }
}