.content {
  padding: 0;
  color: #000;
  background: #f2e8e6;
  margin-top: 60px;

  &__wrap {
    display: flex;
    margin: 40px 100px;
    margin-bottom: -100px;

    @include for-tablet-landscape-up {
      flex-direction: column-reverse;
      align-items: center;
    }

    @include for-phone-only {
      margin: 40px;
      margin-bottom: -100px;
    }
  }

  &__photo {
    width: 40%;

    @include for-tablet-landscape-up {
      width: 100%;
      text-align: center;
    }
  }

  &__img {
    width: 420px;
    border: 20px solid #fff;

    @include for-tablet-landscape-up {
      width: 300px;
    }
  }

  &__block {
    width: 60%;
    padding: 20px 0 0 20px;

    @include for-tablet-landscape-up {
      width: 100%;
      padding: 0;
    }
  }

  &__title {
    @include Bebas();
    letter-spacing: 2px;
    text-align: center;
    font-size: 36px;
    margin-bottom: 40px;
  }

  &__text {
    max-width: 900px;
    margin: 0 auto;
    padding-bottom: 20px;
    font-size: 20px;
    line-height: 26px;
    opacity: .5;
  }

  a {
    color: #000;
    opacity: .5;
    transition: .5s;
    &:hover {
      opacity: 1;
    }
  }
}