.header {
  background: $main-color;
  height: 100vh;
  width: 100%;
  color: $title-color;
  display: flex;
  flex-direction: column;

  // &__interlink {
  //   border: 2px solid #000;
  //   border-radius: 5px;
  //   text-decoration: none;
  //   padding: 10px;
  // }

  &__nav {
    margin-top: 20px;
    margin-left: 20px;
    color: $title-color;
    font-weight: bold;
    transition: .5s;
    line-height: 22px;
    
    &:hover {
      color: rgba(#000, .5);
    }
  }

  &__socials {
    margin: 40px;
    line-height: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__link {
    display: inline-block;
    height: 30px;
    width: 30px;
    fill: #000;
    margin-right: 20px;
    transition: .5s;

    &:hover {
      fill: rgba(#000, .5);
    }
  }
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 100px;

  &__text {
    @include Bebas();
    font-size: 100px;
    line-height: 160px;
    background: #fff;

    @include for-phone-only {
      font-size: 30px;
    }
  }

  &__description {
    font-size: 20px;
    letter-spacing: 3px;
    margin-top: 20px;
    opacity: .5;
    text-align: center;
    @include for-phone-only {
      font-size: 18px;
    }
  }

  &__photo {
    width: 650px;
    filter: brightness(70%);
  }
}