.header {
  box-sizing: border-box;
  min-height: 100vh;
  padding: 50px;
  position: relative;
  width: 100vw;
  background: 50% 50% / cover;
  transform-style: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &::before {
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    background: url(../../img/background.jpg) no-repeat;
    background-size: cover;
    filter: brightness(30%);
    transform-origin: center center 0;
    transform: translateZ(-1px) scale(2);
    z-index: -1;
    min-height: 100vh;
  }

  &__interlink {
    position: absolute;
    padding: 10px;
    transition: .5s;
    border-radius: 10px;
    top: 20px;
    left: 20px;
    line-height: 22px;
    
    &:hover {
      background: rgba(255, 255, 255, .2);
    }
  }
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 40px;

  &__text {
    display: block;
    text-align: center;
    font-size: 36px;
  }

  &__description {
    display: block;
    text-align: center;
    font-size: 20px;
    letter-spacing: 3px;
    margin-top: 20px;
    opacity: .5;
  }

  &__photo {
    margin-bottom: 40px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
  }
}

.header__socials  {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 20px;

  @include for-tablet-portrait-up {
    margin-top: auto;
    max-width: 470px;
  }
}

.header__link {
  display: inline-block;
  height: 30px;
  width: 30px;
  fill: rgba(#fff, .5);
  margin-right: 30px;
  transition: .5s;

  &:last-child {
    margin-right: 0;
  }

  &:hover {
    fill: #fff;
  }
}

.tab__photo {
  @include for-tablet-portrait-up {
    order: 1;
  }
}