.skills {
  margin-top: 60px;
  &__head {
    text-align: center;
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 60px;
    color: $title-color;
  }
  &__title {
    font-weight: bold;
  }
}