.skills {
	
  	&__head {
  		@include Bebas();
  		letter-spacing: 2px;
    	text-align: center;
    	font-size: 36px;
    	margin-bottom: 40px;
    	color: $title-color;
  	}

  	&__text {
  		max-width: 900px;
    	margin: 0 auto;
    	padding-bottom: 20px;
    	font-size: 20px;
    	line-height: 26px;
    	opacity: .5;
  	}
}