.works {
  max-width: 1064px;
  margin: 60px auto 0;
  &__title {
    text-align: center;
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 60px;
    color: $title-color;
  }
}

.tab {
  &__content {
    display: none;
    flex-direction: column;
  }

  &__link.tab__active-link {
    background: $tab-color;
    color: #fff;
  }

  &__link {
    text-decoration: none;
    display: inline-block;
    padding: 5px 10px;
    color: $title-color;
    transition: .5s;

    &:hover {
      background: $tab-color;
      color: #fff;
    }
  }

  &__item {
    margin: 0 0 40px;
    box-shadow: -1px -1px 10px 1px #d6d6d6;
    background: #fff;

    &:nth-child(2n) {
      flex-direction: row-reverse;
    }
  }

  &__title {
    color: $title-color;
    font-weight: bold;
  }

  &__links {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 60px;
  }

  &__img {
    width: 100%;
    max-width: 100%;
    object-fit: cover;
    object-position: 50% 50%;
  }

  &__photo {
    display: inline-block;
    position: relative;
    padding: 0;
    transition: .5s;

    &-hidden-text {
      text-decoration: none;
    }

    &:hover {
      .tab__photo-hidden-text {
        opacity: 1;
      }
    }
  }

  &__text {
    padding: 30px;
  }

  &__description {
    line-height: 26px;
  }

  &__wrap {
    position: relative;
  }

  &__photo-hidden-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    background: rgba(#000, .7);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: all .4s ;
  }
}

.tab__content.tab__active-content {
  display: flex;
}


